body{
  background-color: #efefef;
  justify-content: center;
  font-family: arial;
  display: flex;
}

#tableContainer{
  box-shadow: 5px 5px 5px #aaa;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
